body{
	background: url(http://subtlepatterns.com/patterns/extra_clean_paper.png)
}

.button{
	display: inline-block;
	margin: 40px;
	width: 100px;
	height: 100px;
	background: url(http://subtlepatterns.com/patterns/extra_clean_paper.png);
	cursor: pointer;
	
	border-radius: 50%;
	-moz-border-radius: 50%;
	-webkit-border-radius: 50%;
	
	box-shadow: 0 3px 20px rgba(0,0,0,.25), 
inset 0 2px 0 rgba(255,255,255,.6), 
0 2px 0 rgba(0,0,0,.1), 
inset 0 0 20px rgba(0,0,0,.1);

	-moz-box-shadow: 0 3px 20px rgba(0,0,0,.25), 
inset 0 2px 0 rgba(255,255,255,.6), 
0 2px 0 rgba(0,0,0,.1), 
inset 0 0 20px rgba(0,0,0,.1);

	-webkit-box-shadow: 0 3px 20px rgba(0,0,0,.25), 
inset 0 2px 0 rgba(255,255,255,.6), 
0 2px 0 rgba(0,0,0,.1), 
inset 0 0 20px rgba(0,0,0,.1);
}

.button:hover {
	box-shadow: inset 0 0 20px rgba(0,0,0,.2), 
0 2px 0 rgba(255,255,255,.4), 
inset 0 2px 0 rgba(0,0,0,.1);

	-moz-box-shadow: inset 0 0 20px rgba(0,0,0,.2), 
0 2px 0 rgba(255,255,255,.4), 
inset 0 2px 0 rgba(0,0,0,.1);

	-webkit-box-shadow: inset 0 0 20px rgba(0,0,0,.2), 
0 2px 0 rgba(255,255,255,.4), 
inset 0 2px 0 rgba(0,0,0,.1);
}

.button::after{
	content: '';
	width: 100px;
	height: 100px;
	display: block;
	opacity: .7;
}

.btn-photo::after{
	background: url(http://www.defaulticon.com/images/icons32x32/games-alt-1.png?itok=ppalxXMJ) center no-repeat;
}

.btn-settings::after{
	background: url(http://www.defaulticon.com/images/icons32x32/gift.png?itok=lZYuWusG) center no-repeat;
}

.btn-tag::after{
	background: url(http://www.defaulticon.com/images/icons32x32/cart-alt-1_0.png?itok=EvDxP4a_) center no-repeat;
}

.button:hover::after{
	background-position: center 52%;
}











