@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 700;
  src: url("sBtfDPlEIwvKKU53nAG7AQ.eot"/*tpa=http://themes.googleusercontent.com/static/fonts/lato/v7/sBtfDPlEIwvKKU53nAG7AQ.eot*/);
  src: local('Lato Bold'), local('Lato-Bold'), url("sBtfDPlEIwvKKU53nAG7AQ.eot"/*tpa=http://themes.googleusercontent.com/static/fonts/lato/v7/sBtfDPlEIwvKKU53nAG7AQ.eot*/) format('embedded-opentype'), url("wkfQbvfT_02e2IWO3yYueQ.woff"/*tpa=http://themes.googleusercontent.com/static/fonts/lato/v7/wkfQbvfT_02e2IWO3yYueQ.woff*/) format('woff');
}
