@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 300;
  src: url("zLhfkPOm_5ykmdm-wXaiuw.eot"/*tpa=http://themes.googleusercontent.com/static/fonts/lato/v7/zLhfkPOm_5ykmdm-wXaiuw.eot*/);
  src: local('Lato Light'), local('Lato-Light'), url("zLhfkPOm_5ykmdm-wXaiuw.eot"/*tpa=http://themes.googleusercontent.com/static/fonts/lato/v7/zLhfkPOm_5ykmdm-wXaiuw.eot*/) format('embedded-opentype'), url("KT3KS9Aol4WfR6Vas8kNcg.woff"/*tpa=http://themes.googleusercontent.com/static/fonts/lato/v7/KT3KS9Aol4WfR6Vas8kNcg.woff*/) format('woff');
}
